<header class="main-header-container">
  <div class="main-header container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url "portaldoaluno:home" %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url "portaldoaluno:listar_usuarios" %}" class="nav-link">Usuarios Cadastrados</a></li>
        <li class="nav-item"><a href="{% url "portaldoaluno:api_usuarios" %}" class="nav-link">API Usuarios</a></li>
        <li class="nav-item"><a href="{% url "portaldoaluno:create" %}" class="nav-link">Cadastrar Usuario</a></li>
      </ul>
    </header>
  </div>
</header>