{% extends "global/base.html" %}

{% block title %}Home | {% endblock title %}

{% block content %}
  <h1><b>Bem-vindo ao nosso Portal de Denúncias.</b></h1>
  <p>A sua segurança e a transparência são prioridades para nós. Aqui, você pode fazer denúncias de forma anônima e segura, garantindo que sua voz seja ouvida sem qualquer risco. Se você presenciou uma situação suspeita ou tem informações relevantes, não hesite em nos contar.</p>

  <p>Nosso compromisso é com a proteção de quem denuncia e com a tomada de ações para garantir um ambiente mais justo e seguro para todos. Cada denúncia é tratada com seriedade e discrição, pois acreditamos no poder de um mundo mais transparente e responsável.</p>
{% endblock %}